body{
background-color: rgb(85, 11, 11);
}
h1{
  color:rgb(169, 241, 197);
  text-align:left;
  font-size:50px;
}

.banner {
    display: inline-block;
    position: absolute !important;
    background: rgba(0, 0, 0, 0.5) !important;
    color: rgb(241, 113, 134);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner h1 {
    font-size: 44px !important;
    
  }
  .banner div {
    width: 10rem; 
    height: 5px;
    background: var(--primaryColor);
    margin: 1.7rem auto;
  }
  .banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 576px) {
    .banner {
      padding: 2rem 3rem !important;
    }
    .banner h1 {
      font-size: 32px !important;
    }
  }
  @media screen and (min-width: 992px) {
    .banner {
      padding: 2rem 6rem;
    }
    .banner h1 {
      font-size: 4rem;
    }
  }
  body{
background: url("images/food.jpg") ;
  }
  
  
  #details{
    text-align: center;
    background-color:whitesmoke;
    width: 100%;
    color:black;
    text-align: center;
    padding:20px;
    display :flex;
    justify-content: center;
    gap: 10px;
    float: left;
    margin-top: 600px;
    margin-left:0px;
    margin-right: 0px;
}
 #btn1{
background-color: aqua;
color:black;
height: 30px;
border-radius: 10px;
cursor: pointer;
box-shadow: 10px 10px 10px white;
transition: opacity 0.15s;
}
#btn1:hover{
  opacity: 0.8;
}
#btn1:active{
  opacity: 0.5;
}
#mode{
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}
#mode:hover{
  opacity: 0.8;
}
#mode:active{
  opacity: 0.5;
}
